@font-face {
    font-family: ShagExpert;
    src: url(https://codehs.com/uploads/5a8a2b4781e7a905cd15df8a6526f629);
}
.title-website {
    font-family: "ShagExpert";
    font-size: 4rem;
    text-align: center;
}
.header {
    font-size: 2rem;
    font-family: "ShagExpert";
}
.headered-header {
    font-size: 1.5rem;
    margin-inline-start: 1rem;
}
.actual-thing {
    margin-inline-start: 2rem;
}
.indented-thing {
    margin-inline-start: 3rem;
}