@font-face {
    font-family: ShagExpert;
    src: url(https://codehs.com/uploads/5a8a2b4781e7a905cd15df8a6526f629);
}
body {
    font-family: "ShagExpert";
    font-size: 4rem;
    text-align: center;
}